<% layout('layouts/pboilerplate') %> 

<h1>Add new Project Location</h1>

<form action="/projects" method="POST">
    <div class="form-group">
      <label for="formGroupExampleInput">City</label>
      <input type="text" class="form-control" name="project[location][city]" id="formGroupExampleInput" placeholder="Kandivali">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">State</label>
      <input type="text" class="form-control" name="project[location][state]" id="formGroupExampleInput2" placeholder="Maharashtra">
    </div>

    <button type="submit" class="btn btn-primary">Make</button>
</form>