<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-black">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ContructorW</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/contractors">Contractors</a>
          <a class="nav-link" href="/contractors/new">New Contractors</a></div>
          <a class="nav-link" href="/scanner">ATTENDANCE SCANNER</a>
          <a class="nav-link" href="/projects">Add Projects</a>
      </div>
    </div>
  </nav>