<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    <title>Document</title>
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-black">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">ContructorW</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" aria-current="page" href="/">Home</a>
              <a class="nav-link" href="/contractors">Contractors</a>
              <a class="nav-link" href="/contractors/new">New Contractors</a></div>
              <a class="nav-link" href="/contractors/scanner">ATTENDANCE SCANNER</a>
              <a class="nav-link" href="/contractors/project">Add Projects</a>
          </div>
        </div>
      </nav><nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-black">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">ContructorW</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" aria-current="page" href="/">Home</a>
              <a class="nav-link" href="/contractors">Contractors</a>
              <a class="nav-link" href="/contractors/new">New Contractors</a></div>
              <a class="nav-link" href="/contractors/scanner">ATTENDANCE SCANNER</a>
              <a class="nav-link" href="/contractors/project">Add Projects</a>
          </div>
        </div>
      </nav>

    <h1>SCANNER IS ON</h1>
    <div id="reader" width="100px"></div> 

    <script src="/js/showPgScanner.js"></script>
</body>
</html>